@if (selectedUser().id > 0) {
<div class="card">
  <div class="card-header">{{ selectedUser().name }}'s Tasks</div>
  <div class="card-body">
    <app-loader></app-loader>
    <div class="row p-1">
      <div class="col-md-6 text-center fw-medium">Task</div>
      <div class="col-md-2 text-center fw-medium">Done</div>
      <div class="col-md-4 text-center fw-medium">Action</div>
    </div>
    @for (task of userTasks(); track task){
    <div class="row p-1">
      <div class="col-md-6 text-capitalize">{{ task.title }}</div>
      @let isDone = task.completed ? "Yes" : "No";
      <div class="col-md-2 text-center">{{ isDone }}</div>
      <div class="col-md-4 text-center">
        <!--<button
          class="btn btn-primary"
          *ngIf="!task.completed"
          (click)="markComplete(task)"
        >
          Mark as Complete
        </button>-->
      </div>
    </div>
    }
  </div>
</div>
}
